body {
    background-color: darkgrey;
}
header{
    background-color: aqua;
}
h1{
    display: flex;
    text-align: center;
}
nav{
    
    background-color: firebrick;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
aside{
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
}
